.container{
    padding: 0%;
}

.container-fluid{
    padding:0%;
    
}

.card-ric{
    margin: 0 0.5rem;
}


.card-size{
    padding-top: 0px;
}

.card-rich {
    padding: 0px;
    
}


.card-richa{
    border: 0px;
}

.p-datatable{
    font-size: 14px !important;
    border: 0;
}

.p-datatable .p-column-header-content{
    font-size: 14px !important;
}

.common-columns{
    padding: 0px;
}

.header {
margin: 1px;
}

.ric .p-inputtext.p-component.p-column-filter.p-column-filter {
    height : 2rem;
}
.studentReq .p-panel-header{
    color:#fff;
        background: #0d6efda3;
}
.studentReq svg.p-icon{
    color:#fff
}
.studentReq tr:first-child th{
        background: rgb(219 219 219 / 50%);
}
.tableContainer input.p-inputtext.p-component.p-column-filter.p-column-filter{
padding: 0.2rem;
}