.wrapper-class {
  padding: 1rem;
  border: 1px solid rgb(10 10 10);
}

.editor-class {
  /* background-color: lightgray; */
  padding: 1rem;
  border: 1px solid rgb(10 10 10);
}

.toolbar-class {
  border: 1px solid rgb(10 10 10);
}